.example-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.example-container > * {
  width: 30%;
  margin: 0 auto;
  padding-top: 20px;
}

.example-container > mat-checkbox {
  padding-bottom: 20px;
}

mat-toolbar {
  padding-left: 46%;
}

mat-checkbox {
  color: grey;
}

th[mat-header-cell] {
  color: red;
}

.page-footer {
  text-align: center;
  padding: 3em;
}
