<mat-toolbar color="primary">
  {{ title }}
</mat-toolbar>

<form ngForm (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <div class="example-container">
        <!-- Active -->
        <mat-checkbox color="primary" labelPosition="before"
                      name="active" [(ngModel)]="course.active" (change)="failed=false">Activo</mat-checkbox>

        <!-- Teacher -->
        <mat-form-field appearance="outline">
          <mat-label>Profesor</mat-label>
          <mat-select placeholder="Profesor" name="teacher" [(ngModel)]="course.teacher" (focusin)="failed=false">
            <mat-option value="option" *ngFor="let teacher of teachers" [value] = "teacher">{{ teacher.firstName }} {{ teacher.lastName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Title -->
        <mat-form-field appearance="outline">
          <mat-label>Título</mat-label>
          <input matInput placeholder="Título" name="title" [(ngModel)]="course.title" (focusin)="failed=false" />
        </mat-form-field>

        <!-- Level -->
        <mat-form-field appearance="outline">
          <mat-label>Nivel</mat-label>
          <mat-select placeholder="Nivel" name="level" [(ngModel)]="course.level" (focusin)="failed=false">
            <mat-option value="option" *ngFor="let level of levels" [value] = "level">{{ level }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Hours -->
        <mat-form-field appearance="outline">
          <mat-label>Horas</mat-label>
          <input matInput type="number" placeholder="Horas" name="hours" min="0" [(ngModel)]="course.hours" (focusin)="failed=false" />
        </mat-form-field>

        <!-- Download subject file -->
        <mat-form-field appearance="outline">
          <mat-label>Temario del Curso</mat-label>
          <ngx-mat-file-input #removableInput name="subject" placeholder="Temario del Curso" accept=".pdf,.doc"
                              (change)="onFileChanged($event)" (focusin)="failed=false"></ngx-mat-file-input>
          <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
            <mat-icon>clear</mat-icon>
          </button>
          <mat-icon matSuffix *ngIf="removableInput.empty" style="color: grey">folder</mat-icon>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div style="text-align:center; color:orangered; height:2rem">
        <h4 [hidden]="!failed">Se ha producido un error al registrar el nuevo curso.</h4>
      </div>
    </mat-card-footer>
  </mat-card>

  <div class="page-footer">
    <button type="submit" mat-stroked-button color="primary">Añadir</button>
  </div>
</form>
