# Backend environment
DB_HOST=mysqldb
DB_DATABASE=courses_db
DB_USERNAME=ctomas
DB_PASSWORD=ctomas
DOCKER_DB_EXPOSED_PORT=3306

DOCKER_SPRING_EXPOSED_PORT=8001
JAR_FILE=./target/courses-back-0.0.1-SNAPSHOT.jar

# Backend environment test
DB_HOST_TEST=mysqldb_test
DB_DATABASE_TEST=courses_db_test
DB_USERNAME_TEST=ctomas
DB_PASSWORD_TEST=ctomas
DOCKER_DB_EXPOSED_PORT_TEST=3307

# Frontend environment
ANGULAR_EXPOSED_PORT=4200
KARMA_EXPOSED_PORT=9876
