table {
  width: 90%;
  box-shadow: none !important;
  border: 1px solid lightgrey;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

mat-card {
  padding-top: 40px;
}

mat-card-content {
  /*
  height: 450px;
  overflow: auto;
  */
  overflow: visible;
}

th.mat-header-cell {
  color: hotpink;
}

td.mat-cell {
  width: 30%;
}

mat-toolbar {
  padding-left: 44%;
}

.page-footer {
  text-align: center;
  padding: 3em;
}
