[mysqld]
character-set-filesystem = utf8
character-set-server = utf8
collation-server = utf8_general_ci
skip-character-set-client-handshake
max_allowed_packet = 40M

[client]
default-character-set = utf8

[mysqldump]
default-character-set = utf8
